

  <div class="task">
    <div class="col-xs-12 pull-right">
      <h3> Tasks: </h3>
      <button>Add Task</button>
      <ul>
        <li *ngFor="let task of user.tasks">
          <app-task [task]="task" (notify)="completeTaskStatus($event)"></app-task></li>
      </ul>
    </div>
  </div>

    <div class="post">
      <div class="col-xs-12 pull-right">
        <h3> Posts: </h3>
        <ul>
          <li *ngFor="let post of user.posts">
            <app-post [post]="post"></app-post> </li>
        </ul>
    </div>

  </div>

