
  <mat-drawer-container>
    <mat-drawer mode="side" position="end"
                [opened]="showSideNav$ | async">
      <a style="float:right"
         href="#"
         (click)="closeDetails(); false">
        x Close
      </a>

      <router-outlet></router-outlet>
    </mat-drawer>
    <mat-drawer-content>
      <div class="task">
        <div class="col-xs-12 pull-right">
          <h3> Tasks: </h3>
          <button class="pull-right btn btn-light" (click)="addTask()">Add Task</button>
          <ul>
            <li *ngFor="let task of user.tasks">
              <app-task [task]="task" (click)="completeTaskStatus($event)"></app-task></li>
          </ul>
        </div>
      </div>
    </mat-drawer-content>

    <mat-drawer-content>
      <div class="post">
        <div class="col-xs-12 pull-right">
          <h3> Posts: </h3>
          <button class="pull-right btn btn-light">Add Post</button>
          <ul>
            <li *ngFor="let post of user.posts">
              <app-post [post]="post"></app-post> </li>
          </ul>
        </div>

      </div>
    </mat-drawer-content>
  </mat-drawer-container>

